node_modules/
node_modules
__pycache__/
.vscsode/
.vscode/
.eslintcache
mongodb/
dogs-vs-cats/
recurrence-plot/*
src/**/*graph*.png
src/**/*chaotic.*.png
src/**/*periodic.*.png
src/**/*trend.*.png
*.npz
src/**/.ipynb_checkpoints
train_labels.csv
train_samples.csv